body {
    background-color: #BCF8EC;
    text-align: center;
    font: poppins;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo_principal {
    margin: 80px;
}

@font-face {
    font-family: 'BodoniModaSC';
    src: url('/public/fonts/BodoniModaSC_28pt-Regular.ttf') format('tff');
}

.navbar {
    background-color: #8E9DCC !important;

    .nav-link {
        color: #003844 !important;
    }

    .navbar-brand {
        font-size: 24px !important;
        color: #003844 !important;
    }
}

.ferramentas {
    margin: 20px;
}

.calculo {
    background-color: #8E9DCC;
    border-radius: 10px;
    margin-top: 40px;
    align-items: center;
}

.registrando {
    width: 90vw;
    text-align: left;
    margin: 4vw;
    padding: 2vw;
    color: #003844;
    border-radius: 20px;
    background-color: #8E9DCC;

    .regis_dados {
        background-color: #BCF8EC;
        border-radius: 8px;
        padding: 20px;
    }

    table,
    td {
        background-color: #BCF8EC;
        padding: 5px;
        border-radius: 8px;
    }

    table {
        border-color: #00000000 !important;
    }

    .a {
        display: flex;
    }

    h1 {
        color: #003844;
        font-size: 7vh;
        margin-bottom: 4vh;
    }

    label {
        font-size: 3vh;
    }

    .g-3 {
        input {
            font-size: 3vh;
            width: 30vw;
            border-color: #000000 !important;
        }
    }

    .input-group {
        margin-top: 5vh;
        width: 80vw;
    }

    .btn {
        width: 80vw;
    }

    button {
        font-size: 2vh;
        margin-left: 2%;
        background-color: aquamarine;
        width: 20vw !important;
    }
}


.login {
    top: 60%;
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
    height: 60vh;
    text-align: center;
    padding: 3vw;
    border-radius: 10px;
    background-color: #8E9DCC;
    text-align: center;
    margin-top: 7vh;
    width: 100%;

    .loginn {
        margin-top: 5vh;
    }

    h2 {
        font-size: 5vh;
    }

    .input-group {

        input,
        span {
            font-size: 3vh;
            margin-right: auto;
            margin-left: auto;

        }

    }

}

#enviar_anamnese {
    display: none;
}

.paciente {
    margin-top: 20px;
}

.escolher_paciente {
    label[for="enviar_anamnese"] {
        color: #000000;
        background-color: #759892ac;
        border-radius: 2px;
        border-color: #00000000;
        border-left-color: rgb(255, 255, 255);
        padding: 3px;
        margin-top: 5px;
        cursor: pointer;
    }

    select {
        margin-bottom: 20px;
    }


    button {
        background-color: #759892ac;
        margin-top: 5px;
        border-radius: 2px;
        border-color: #00000000;
        border-left-color: black;
    }
}



.escolher_paciente,
.novo_paciente,
.atualizar_dados,
.avulso {
    border-radius: 10px;
    margin-bottom: 1vh;
    padding: 2%;
    padding-bottom: 10px;
    width: 95vw;
    background-color: #8E9DCC;
    margin-left: auto;
    margin-left: auto;

    .input-group {
        margin-top: 0.5vh;
    }
}


#button {
    display: inline-block;
    margin-bottom: 3vh;
    margin-top: 3vh;

    input {
        margin-left: auto;
        margin-right: auto;
    }

}

#u {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #8E9DCC;
}

#d {
    background-color: #96d3cd;
}

#p {
    background-color: #8E9DCC;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.home-part {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

#nutri {
    width: 100px;
    height: 100px;
}

.home {
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    width: 95vw;
    background-color: #5A7D7C;

    .accordion-item {
        background-color: #5A7D7C !important;
        border-color: #5A7D7C !important;
    }

    .accordion-button {
        background-color: #8E9DCC !important;
        font-size: 20px !important;
    }

    .accordion-body {
        background-color: #ffffff !important;
        font-size: 20px;
    }

    padding-bottom: 0px;
}

.nutri_maca {
    width: 80vw;
    margin-top: 40px;
    background-color: #8E9DCC;
    padding: 20px;
    border-radius: 10px;

    .pergunta {
        border-radius: 10px;
        background-color: #5d6c98;
        color: #003844;
        margin-bottom: 50px;
    }

    .resposta {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 15px;
        margin: 0.1px;
        margin-top: 40px;
    }

    #anamnese_junto {
        display: none;
    }

    label[for="anamnese_junto"] {
        color: #000000;
        background-color: #f6f5f5;
        border-radius: 3px;
        padding: 8px;
        cursor: pointer;
        margin-bottom: 10px;
    }

}

.title {
    color: #003844;
    background-color: #8E9DCC;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.conta {
    background-color: #edeff6;
    color: #003844;
    text-align: center;


    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;

    .form-group {
        text-align: center;
        margin-top: 50px;
        border-radius: 20px;
        background-color: #8E9DCC;
        padding: 20px;
    }

}

#evolucao {
    margin-top: 20px;
    background-color: #e5f7f3;
    width: 60vw;
    height: auto;
}

.evolucao {
    margin-top: 20px;
    color: #232C33;

    .accordion-button {
        background-color: #8E9DCC !important;
        border-color: #8E9DCC !important;
    }

    .accordion-item {
        background-color: #e5f7f3 !important;
        border-color: #e5f7f3 !important;
    }
}

.nutriai {

    input,
    button {
        border-radius: 8px;
        padding: 1%;
        margin-bottom: 5px;
        border-color: #232C33;
    }

    input {
        width: 70vw;
    }
}

.nutrimaca {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

main {
    display: inline-block;
}

.d-inline-block {
    button {
        border-color: #000000 !important;
    }

    #m {
        background-color: #03071b !important;
    }

    #f {
        background-color: #0d6758fc !important;
    }

    #n {
        background-color: #1fff44 !important;
    }

    #p {
        background-color: #ecff1f !important;
    }


    #o {
        background-color: #fe1414 !important;
    }

    #t {
        background-color: #ff4000 !important;
    }
}